@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Open+Sans');

/* Styles   Jayden Hluszko    Jayden Hluszko Portfolio    Stylesheet for portfolio site */

/* ================================       Colour Variables       ======================================== */
:root {
    --primary-blue: #053D5D; /* The theme primary color - Primary Blue */
    --secondary-blue: #479CB7; /* The theme secondary color - Secondary Blue */
    --background-gray: #ECEFF1; /* The theme background color - Background Gray */
    --green: #68C39F; /* Green */
    font-size: 100%;
}

/*
    Theme colours in RGB(A)
    
    Material Gray
        background-color: rgba(158,158,158,.3)
    Primary Blue
        5,61,93
    Secondary Blue
        71,156,183
    Green
        104,195,159

*/

/* ================================       Typography       ======================================== */

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* h1 */
h1 {
    font-size: 36px;
}

/* h2 */
h2 {
    font-size: 30px;
}

/* h3 */
h3 {
    font-size: 24px;
}

.lowercase {
    text-transform: none
}

/* ================================       Buttons       ======================================== */
/* Primary Blue Button */
.btn-primary {
    background-color: var(--primary-blue) !important;
}

.btn-primary:not([disabled]):not(.disabled):active {
    background-color: var(--primary-blue) !important
}

/* Secondary Blue Button */
.btn-secondary {
    background-color: var(--secondary-blue) !important;
}

.btn-secondary:not([disabled]):not(.disabled):active {
    background-color: var(--secondary-blue) !important
}

/* Green Button */
.btn-default {
    background-color: var(--green) !important;
}

.btn-default:not([disabled]):not(.disabled):active {
    background-color: var(--green) !important
}

/* Join Button Container */
#btnJoin {
    display: flex;
    justify-content: center;
    margin: 30px
}

/* Actual Button */
#joinUs {
    transform: scale(1.2)
}

/* Form Fields */
/* Valid */
.md-form input[type=text].valid, .md-form input[type=password].valid {
    border-bottom: 1px solid var(--green);
    box-shadow: 0 1px 0 0 var(--green);
}

/* Active */
.md-form input[type="password"]:focus:not([readonly]), .md-form input[type="text"]:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 var(--secondary-blue);
    border-bottom: 1px solid var(--secondary-blue)
}
/* Active Label */
.md-form input[type="password"]:focus:not([readonly])+label, .md-form input[type="text"]:focus:not([readonly])+label {
    color: var(--secondary-blue)
}
/* ================================       Layout       ======================================== */
/* Header */
li {
    text-transform: uppercase;
    transition: .5s;
    border-bottom: 3px solid transparent;
}

header li:not(.divider):hover, .currentPage {
    border-bottom: 3px solid var(--secondary-blue);
}

.navbar, .navbar form {
    padding-bottom: 0;
    border: none
}

.navbar form {
    margin-bottom: 0 !important
}

li a {
    margin-bottom: 8px;
}
.navbar-brand {
    height: 60px
}
/* 
    Bottom Border
    margin-bottom: 3px; */
/* Main */
body {
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif
}

main {
    width: 1280px;
    margin: 64px auto;
}

/* Cards */
.card {
    width: 350px
}

.cardGroup {
    display: flex;
    justify-content: space-between
}

.mdc-card__primary {
    padding: 16px;
}

/* Footer */
footer {
    margin-top: auto
}
