@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Open+Sans');

/* Styles   Jayden Hluszko    Jayden Hluszko Portfolio    Stylesheet for portfolio site */

/* ================================       Colour Variables       ======================================== */
:root {
    --mdc-theme-primary: #053D5D; /* The theme primary color - Primary Blue */
    --mdc-theme-secondary: #479CB7; /* The theme secondary color - Secondary Blue */
    --mdc-theme-background: #ECEFF1; /* The theme background color - Background Gray */
    --mdc-theme-surface: #FFF; /* The theme surface color - Green */
    --mdc-theme-on-primary: #FFF; /* Text color on top of a primary background */
    --mdc-theme-on-secondary: #FFF; /* Text color on top of a secondary background */
    --mdc-theme-on-surface: #333; /* Text color on top of a surface background */
    font-size: 100%;
}

/* ================================       Typography       ======================================== */

/* Headlines */
.mdc-typography, .mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* h1 */
.mdc-typography--headline1 {
    font-size: 36px;
}

/* h2 */
.mdc-typography--headline2 {
    font-size: 30px;
}

/* h3 */
.mdc-typography--headline3 {
    font-size: 24px;
}

/* Subtitles, Body, ect. */
.mdc-typography--subtitle1, .mdc-typography--subtitle2, .mdc-typography--body1, .mdc-typography--body2, .mdc-typography--caption, .mdc-typography--button, .mdc-typography--overline, .mdc-tab, .mdc-button {
    font-family: 'Open Sans', sans-serif;
}

.mdc-typography--body1 {
    font-size: 16px;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
    font-family: 'Montserrat', sans-serif;
}

/* ================================       Layout       ======================================== */

/* Header */
.mdc-top-app-bar {
    background-color: var(--mdc-theme-surface);
    top: 0;
}

.mdc-top-app-bar__section {
    margin-bottom: 0;
}

/* Remove the dot from the navigation */
li {
    list-style-type: none;
}


/* Resize logo */
#logo {
    width: 150px;
    height: auto
}

/* Change the color of the divider line and copyright text */
.divide, .copyright {
    color: var(--mdc-theme-on-surface)
}

/* Remove margin to center text */
.copyright {
    margin-bottom: 0;
}

/* Main */
body {
    background-color: var(--mdc-theme-background);
    padding: 0;
}

main {
    max-width: 1366px;
    margin: 64px auto 0 auto
}

/* Cards */
.card {
    width: 350px
}

.cardGroup {
    display: flex;
    justify-content: space-between
}

#btnJoin {
    display: flex;
    justify-content: center;
    margin: 30px
}

.mdc-card__primary {
    padding: 16px;
}
/* Footer */
footer.mdc-top-app-bar {
    position: relative;
}