@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Open+Sans');

/* Styles   Jayden Hluszko    Jayden Hluszko Portfolio    Stylesheet for portfolio site */

/* ================================       Colour Variables       ======================================== */
:root {
    --primary-blue: #053D5D; /* The theme primary color - Primary Blue */
    --secondary-blue: #479CB7; /* The theme secondary color - Secondary Blue */
    --background-gray: #ECEFF1; /* The theme background color - Background Gray */
    --green: #68C39F; /* Green */
    font-size: 100%;
}

/* ================================       Typography       ======================================== */

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /*margin: 0;*/
}

/* h1 */
h1 {
    font-size: 36px;
}

/* h2 */
h2 {
    font-size: 30px;
}

/* h3 */
h3 {
    font-size: 24px;
}

/* Subtitles, Body, ect. */
.mdc-typography--subtitle1, .mdc-typography--subtitle2, .mdc-typography--body1, .mdc-typography--body2, .mdc-typography--caption, .mdc-typography--button, .mdc-typography--overline, .mdc-tab, .mdc-button {
    font-family: 'Open Sans', sans-serif;
}

.mdc-typography--body1 {
    font-size: 16px;
}

.mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
    font-family: 'Montserrat', sans-serif;
}

/* ================================       Layout       ======================================== */

/* Header */


/* Main */
body {
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 1280px;
    margin: 64px auto;
}

#joinUs {
    transform: scale(1.2)
}
/* Cards */
.card {
    width: 350px
}

.cardGroup {
    display: flex;
    justify-content: space-between
}

#btnJoin {
    display: flex;
    justify-content: center;
    margin: 30px
}

.mdc-card__primary {
    padding: 16px;
}

/* Footer */
footer {
    margin-top: auto
}
