@{
    ViewBag.Title = "About Us";
}
    <!--Main Content -->
    <div class="mx-auto text-center">
        <h1>Our Story</h1>
            <p class="lead">Mapping a Better Food System</p>
    </div>

    <!--Main Container -->

    <section>
                
                <div class="row">
                    <div class="col-sm-12 col-md-2 mx-auto">
                        <img  class="mx-auto d-block"src="~/Content/Images/student-large.svg" alt="student icon">
                       
                    </div>
                    <div class="col-md-6 shadow p-3 mb-5 bg-white rounded ">
                        <h3>How it All Got Started</h3>
                        
                        <p class="mx-3">In 2018, two Georgian College students in the Social Service Worker programme, under the direction of the Centre for Changemaking and Social Innovation, proposed a Digital Food Map to address the issue of food waste and food insecurity in their community, Orillia. </p>
                        <p class="mx-3">
                            The next step was to develop an online application. The Centre for Changemaking, in partnership with The Sharing Place of Orillia, called upon students in Georgian's Interactive Media Design - Web programme to develop this application, now branded as "The FoodShare Map".
                        </p>
                    </div>

                    <div class="col-md-3">

                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="card-header custom-header">
                                
                                    Important Links
                                
                            </div>
                            <ul class="mx-auto d-block list-group list-group-flush">
                                <li class="list-group-item"><a href="#">The Map</a></li>
                                <li class="list-group-item"><a href="#">Obtain Food</a></li>
                                <li class="list-group-item"><a href="#">Share Food</a></li>
                                <li class="list-group-item"><a href="#">Join an Event</a></li>
                                <li class="list-group-item"><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-sm-12 col-md-2 mx-auto ">
                            <img class="mx-auto d-block" src="~/Content/Images/family-large.svg" alt="family icon">
                        </div>
                        <div class="col-md-6 shadow p-3 mb-5 bg-white rounded ">
                            <h3>Who We Serve</h3>    
                            <p class="mx-3">In 2017 the Commission for Environmental Cooperation issued a report on food waste in Canada. It found that 396 kilograms of food per capita is wasted when all stages of the food supply chain in Canada are considered.<sub><a href="#footnote-1">(1)</a></sub>  This represents 20 trillion kilocalories. At the same time, estimates are that 13% of Canadians go hungry — representing over four million men, women and children.<sub><a href="#footnote-2">(2) </a></sub> </p>
                            <p class="mx-3">Initally The FoodShare Map will focus on the community of Orillia, but in developing the application thought has been given to scaling up to include other communties. We welcome inquiries.</p>
                        </div>
                        <div class="col-md-3">
                            <figure class="text-center">
                                <img class=img-fluid img-thumbnail" src="~/Content/Images/foodwasteregion.jpg" alt="Food Waste By Region">
                                <figcaption class="figure-caption">Food Waste by Region</figcaption>
                            </figure>
                        </div>

                    </div>


                    
                    <div class="row">
                        <div class="col-sm-12 col-md-2 mx-auto">
                            <img class="mx-auto d-block" src="~/Content/Images/foodbank-large.svg" alt="foodbank icon">
                        </div>
                        <div class="col-md-6 shadow p-3 mb-5 bg-white rounded ">
                            
                                <h3>Our Mission</h3>
                                <p class="mx-3">The FoodShare Map helps connect people who are food insecure with food resources. It identifies socially conscious people and organizations who have excess food and wish to avoid wasting this food. This information is made available so that those in need of food can more easily locate these resources.</p>

                                <p class="mx-3" >The service is community based. It is welcoming to all in need and grateful to those who wish to help. It is devoted to respectfully assisting those who are experiencing challenges in their lives. </p>
                         </div>
                        <div class="col-md-3">
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-sm-12 col-md-2 mx-auto">
                            <img class="mx-auto d-block mt-4" src="~/Content/Images/logo-about.svg" alt="foodbank icon">
                        </div>
                        <div class="col-md-6 shadow p-3 mb-5 bg-white rounded ">
                            
                                <h3 class="mt-4">Our Name and Logo</h3>

                                <p class="mx-3">The FoodShare Map logo includes a stylized map that is representative of map services found online. The type face used in the logo is Biko Regular. It is described by its author, Marco Ugolini, as a "geometric sans serif with a strong and yet friendly character". The name of the font is a tribute to Steve Biko <sub><a href="#footnote-3">(3) </a></sub>. Mr. Biko was a South African anti-apartheid activist who believed that community projects were a way to alleviate poverty and build better societies. Mr. Biko sets an example for us all and we continue to pay tribute to him by incorporating this type face into our logo.</p>


                                <p class="mx-3">The name "The FoodShare Map" represents a change in thinking when dealing with people who are food insecure. Foodbanks, once thought of as temporary measures for difficult times, have become fixtures in our communities. At the same time, a consciousness is growing that as a society we should not waste our abundant resources. </p>
                            
                        </div>
                        <div class="col-md-3">
                            <figure class="text-center">
                                <img class="img-fluid img-thumbnail" src="~/Content/Images/Steve-Biko.jpg" alt="Steve Biko">
                                <figcaption class="figure-caption">Steve Biko</figcaption>
                            </figure>
                        </div>
                    </div>



                </div>
                <hr>
                <div>
                  
                 <sub id="footnote-1">(1)
                            CEC. 2017. Characterization and Management of Food Loss and Waste in North America. Montreal,
                            Canada: Commission for Environmental Cooperation. 48 pp.
                 </sub>
                 <br>
                 <sub id="footnote-2">(2)
                    
                        http://www3.cec.org/islandora/en/item/11772-characterization-and-management-food-loss-and-waste-in-north-america-en.pdf  
                 </sub>
                    <br> 
                 <sub id="footnote-3"> (3)
                            
                            Biko font is free for personal use but must be purchased for commercial use at: https://www.jesuismonreve.org/
                  </sub>


</div>



   
    </section>

