@{
    ViewBag.Title = "The FoodShare Map";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

<address>
    Centre for Changemaking and Social Innovation<br />
    Barrie, ON L4M 6J8<br />
    <abbr title="Phone">P:</abbr>
    705.728.1968
</address>

<address>
    <strong>Support:</strong>   <a href="ccsi@georgiancollege.ca">ccsi@georgiancollege.ca</a><br />
</address>