@model IEnumerable<FoodShareApp.FoodProvider>
@{
    ViewBag.Title = "Home Page";
}


<h1 class="mdc-typography--headline1">Sharing Food</h1>
<section class="cardGroup">
    @foreach (var foodprovider in Model)
    {
        <!-- Card -->
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title">@foodprovider.Name</h4>
                <h5 class="card-title">@foodprovider.ProviderType.ProviderType1</h5>
                <!-- Text -->
                <p class="card-text">@foodprovider.Services</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
        <!-- Card -->
    }
    @* ================================ END OF PROVIDERS ================================ *@
</section>
<section id="btnJoin">
    <a href="/account/Register" id="joinUs" class="btn btn-primary">
        <span>Join Us</span>
    </a>
</section>
<section class="cardGroup">
    <div>
        <h2 class="text-center">Locate Food</h2>
        <!-- Card -->
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="/Home/Map">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div> <!-- Card -->
    </div>
    @* ================================ END LOCATE FOOD ================================ *@
    <div>
        <h2 class="text-center">Community Events</h2>
        <!-- Card -->
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div> <!-- Card -->
    </div>
</section>
