@model IEnumerable <FoodShareApp.FoodProvider>
@{
    ViewBag.Title = "Home Page";
}


<h1 class="mdc-typography--headline1">Food Sharers</h1>
<section class="cardGroup">
    @foreach (var foodprovider in Model)
    {
    <div class="card">
        <div class="mdc-card">
            <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:2.33984; --mdc-ripple-fg-translate-start:175.8px, 147.3px; --mdc-ripple-fg-translate-end:70px, 60.2375px;">
                <div class="mdc-card__media mdc-card__media--16-9 mdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                <div class="mdc-card__primary">
                    <h2 class="mdc-card__title mdc-typography--headline6">@foodprovider.Name</h2>
                    <h3 class="mdc-card__subtitle mdc-typography--subtitle2">@foodprovider.ProviderType</h3>
                    <div class="mdc-card__secondary mdc-typography--body2">@foodprovider.Services</div>
                </div>
            </div>
            <div class="mdc-card__actions">
                <div class="mdc-card__action-buttons">
                    <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button>
                    <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Bookmark</button>
                </div>
                <div class="mdc-card__action-icons">
                    <button class="mdc-icon-button mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" aria-pressed="false" aria-label="Add to favorites" title="Add to favorites" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i><i class="material-icons mdc-icon-button__icon">favorite_border</i>
                    </button><button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="Share" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">share</button>
                    <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="More options" data-mdc-ripple-is-unbounded="true" style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">more_vert</button>
                </div>
            </div>
        </div>
    </div>
    }
    @* ================================ END OF PROVIDERS ================================ *@
</section>
<section id="btnJoin">
    <button class="mdc-button mdc-button--raised">
        <span class="mdc-button__label">Join Us</span>
    </button>
</section>
<section class="cardGroup">
    <div>
        <h2 class="mdc-typography--headline2">Locate Food</h2>
        <div class="card">
            <div class="mdc-card">
                <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:2.33984; --mdc-ripple-fg-translate-start:175.8px, 147.3px; --mdc-ripple-fg-translate-end:70px, 60.2375px;">
                    <div class="mdc-card__media mdc-card__media--16-9 mdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                </div>
            </div>
        </div>
    </div>
    @* ================================ END LOCATE FOOD ================================ *@
    <div>
        <h2 class="mdc-typography--headline2">Community Events</h2>
        <div class="card">
            <div class="mdc-card">
                <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:2.33984; --mdc-ripple-fg-translate-start:175.8px, 147.3px; --mdc-ripple-fg-translate-end:70px, 60.2375px;">
                    <div class="mdc-card__media mdc-card__media--16-9 mdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<p class="mdc-typography--subtitle1">This will be the home page of The Food Share Map site.</p>