@model IEnumerable<FoodShareApp.FoodProvider>
@{
    ViewBag.Title = "Home Page";
}


<h1 class="text-center">Sharing Food</h1>
<h2 class="text-center mb-4">Share Food? Need Food? Join Us!</h2>
<section>
    <!--Grid row-->
    <div class="row d-flex">
        @foreach (var foodprovider in Model)
        {
            <!--Grid column-->
            <div class="col-md-4 mb-3 d-flex">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body d-flex flex-column ">
                        <!-- Title -->
                        <h4 class="card-title">@foodprovider.Name</h4>
                        <h5 class="card-title">@foodprovider.ProviderType.ProviderType1</h5>
                        <!-- Text -->
                        <p class="card-text mb-auto">@foodprovider.Services</p>
                        <!-- Button -->
                        <div class="card-footer bg-white mt-3 px-0 pb-0">
                            <a href="#" class="btn btn-secondary">Map It!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        }
        @* ================================ END OF PROVIDERS ================================ *@
    </div>
</section>
<section id="btnJoin">
    <a href="/account/Register" id="joinUs" class="btn btn-primary">
        <span>Join Us</span>
    </a>
</section>
<section class="cardGroup">
    <div>
        <h2 class="text-center">Locate Food</h2>
        <!-- Card -->
        <div id="locateFood" class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="/Home/Map">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div> <!-- Card -->
    </div>
    @* ================================ END LOCATE FOOD ================================ *@
    <div>
        <h2 class="text-center">Community Events</h2>
        <!-- Card -->
        <div id="communityEvents" class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div> <!-- Card -->
    </div>
</section>
