@model IEnumerable<FoodShareApp.FoodProvider>
@{
    ViewBag.Title = "Home Page";
}


<h1 class="mdc-typography--headline1">Food Sharers</h1>
<section class="cardGroup">
    @foreach (var foodprovider in Model)
    {
        <!-- Card -->
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title">@foodprovider.Name</h4>
                <h5 class="card-title">@foodprovider.ProviderType</h5>
                <!-- Text -->
                <p class="card-text">@foodprovider.Services</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
        <!-- Card -->
    }
    @* ================================ END OF PROVIDERS ================================ *@
</section>
<section id="btnJoin">
    <button id="joinUs" class="btn btn-primary">
        <span>Join Us</span>
    </button>
</section>
<section class="cardGroup">
    <div>
        <h2 class="mdc-typography--headline2">Locate Food</h2>
        <div class="card">
            <div class="mdc-card">
                <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:2.33984; --mdc-ripple-fg-translate-start:175.8px, 147.3px; --mdc-ripple-fg-translate-end:70px, 60.2375px;">
                    <div class="mdc-card__media mdc-card__media--16-9 mdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                </div>
            </div>
        </div>
    </div>
    @* ================================ END LOCATE FOOD ================================ *@
    <div>
        <h2 class="mdc-typography--headline2">Community Events</h2>
        <div class="card">
            <div class="mdc-card">
                <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:2.33984; --mdc-ripple-fg-translate-start:175.8px, 147.3px; --mdc-ripple-fg-translate-end:70px, 60.2375px;">
                    <div class="mdc-card__media mdc-card__media--16-9 mdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                </div>
            </div>
        </div>
    </div>
</section>