
@{
    ViewBag.Title = "Legal";
   }

<!--Main Content -->
<div class="mx-auto text-center">
    <h1>Legal and Trademark Information</h1>
    <p class="lead">Mapping a Better Food System</p>
</div>

<!--Main Container -->

<section>

    <div class="container">

        <div class="row">

        <!--remove card for now<div class="col-10 card mx-auto shadow p-3 mb-5 bg-white rounded "> -->            
        <div class="col-sm-12 col-md-10 mx-auto"> <!--replaces above div-->
            <p class="mt-2">
         
            <h3>Trademarks</h3>
            <p>
                FoodShare Map is a trademark owned by The Centre for Changemaking and Innovation.
            </p>
            <h3>Trademarks — Graphic Images</h3>
            <p>
                The FoodShare Map logo is a trademark owned by The Centre for Changemaking and Innovation. 
                Included in the mark is typeface known as <a href="https://www.jesuismonreve.org/biko-font-family/">Biko</a>. 
                Currently the font in the logo is being used under a personal licence. 
                Further development of the FoodShare Map application will necessitate purchasing a commercial licence.
            </p>
            <p>
                Other images used in the website are from <a href="https://thenounproject.com/">The Noun Project</a>. Credit as follows:
                                                          <ul>
                                                              <li class="lowercase">Family by Musmellow from the Noun Project</li>
                                                              <li class="lowercase">Computer by anggun from the Noun Project</li>
                                                              <li class="lowercase">Food Bank from the Noun Project Public Domain</li>
                                                              <li class="lowercase">Volunteer by Stephen Borengasser from the Noun Project</li>
                                                              <li class="lowercase">Image of Steve Biko "By South African History Online - http://www.sahistory.org.za/people/stephen-bantu-biko, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=63088528"</li>
                                                              <li class="lowercase">Food Waste Graph: <a href="http://large.stanford.edu/courses/2012/ph240/briggs1/ "><cite>Food Waste</cite> Justin Briggs September 26, 2013</a> </li>
                                                              <li class="lowercase">Calender by Rudez Studio from the Noun Project</li>
                                                              <li class="lowercase">Information by SELicon from the Noun Project</li>
</ul>

            </p>
            <h3>Unauthorized Use Prohibited</h3>
            <p>
                Any unauthorized use of these trade-marks or our copy right protected material is strictly prohibited.
            </p>
            <h3>Website Content</h3>
            <p>
                All content on this web site, The FoodShare Map is protected by copyright laws and  is the property of The Centre for Changemaking and Innovation.
            </p>
            <p>
                Specifically excluded from copyright and ownership by The Centre for Changemaking and Innovation are: Third-party logos, trade-marks or copyright material referred to on the web site.
            </p>
            <h3>For More Information</h3>
            <p>
                For more information or questions regarding this page, please contact: email
            </p>
            </p>
        </div>
        </div>




    </div><!-- /container -->

</section>



