
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidGhlZm9vZHNoYXJlbWFwIiwiYSI6ImNqdG5vemRqcTAwbHUzeXM1b2NodTByMDQifQ.l6qyYH6-ng1viSSGoLR2EQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        minZoom: 5,
        center: [-79.6682, 44.4119],
        zoom: 13
    });
    map.on("load", function () {
        /* Image: An image is loaded and added to the map ~/Content/Images/favicon-32x32.png. */
        map.loadImage("https://i.imgur.com/MK4NUzI.png", function (error, image) {
            if (error) throw error;
            map.addImage("custom-marker", image);
            /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
            map.addLayer({
                id: "markers",
                type: "symbol",
                /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
                source: {
                    type: "geojson",
                    data: {
                        type: 'FeatureCollection',
                        features: [
                            {
                                type: 'Feature',
                                properties: {},
                                geometry: {
                                    type: "Point",
                                    coordinates: [-79.6682, 44.4119]
                                }
                            }
                        ]
                    }
                },
                layout: {
                    "icon-image": "custom-marker",
                }
            });
        });
    });
</script>