
@{
    ViewBag.Title = "Terms";
}

<!--Main Content -->
<div class="mx-auto text-center">
    <h1>Using the FoodShare Map</h1>
    <p class="lead">Mapping a Better Food System</p>
</div>

<!--Main Container -->

<section>

        <div class="row">
            <div class="col-xs-12 col-md-2">
                <img class="mx-auto d-block" src="~/Content/Images/volunteer-large.svg" alt="community icon">
            </div>
            
            <div class="col-xs-12 col-md-8 mx-auto card shadow p-3 mb-5 bg-white rounded">
               
                <h3>Welcome!</h3>

                    <h4 class="text-custom">We are Community Based</h4>
                <p>
                    The FoodShare Map website is a community based, crowd sourced website application.
                    It helps connect people who are food insecure with food resources.
                    It identifies socially conscious people and organizations who have excess food and wish to avoid wasting this food.
                    For those seeking food it provides a useful and non-judgemental tool to locate food resources.
                    This information is made available so that those in need of food can more easily locate these resources.
                    The Site is owned and operated by <a href="https://www.georgiancollege.ca/community-alumni/centre-social-entrepreneurship/ ">The Centre for Changemaking and Innovation</a> which is a part of <a href="https://www.georgiancollege.ca">Georgian College</a>, Barrie Canada.

                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img class="mx-auto d-block" src="~/Content/Images/foodbank-large.svg" alt="foodbank icon">

            </div>

            <div class="col-sm-12 col-md-8 mx-auto card shadow p-3 mb-5 bg-white rounded  ">

                    <h3>Participate in our Community of Sharing Food</h3>
                    <h4 class="text-custom">Food Sharers</h4>
                <p>
                    Those who have excess food and wish to make this available at no charge to those in need are known as Food Sharers. Food Sharers
                    can come from all walks of life. They can be farmers, catering companies, community gardens, supermarkets and foodbanks. Food Sharers apply
                    to register to be a part of the FoodShare Map and are vetted and approved by The Centre for Changemaking or its appointed representatives.
                </p>
                <p>
                    Food Sharers provide images of their choice that are displayed to the public. Such images must not discriminate or demean any individual. Inappropriate or offensive material will be removed.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img class="mx-auto d-block" src="~/Content/Images/family-large.svg" alt="family icon">

            </div>
            <div class="col-sm-12 col-md-8 mx-auto card shadow p-3 mb-5 bg-white rounded  ">
                <h3>We Have Food to Share</h3>
                <h4 class="text-custom">Food Requesters</h4>
                <p>
                    Those in need of food do not need to register to find resources on the FoodShare Map. However by registering
                    we can notify you of new resources as they come available. If you are limited in mobility, in the future we will be able to
                    look into providing delivery of food to you by volunteers.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img class="mx-auto d-block" src="~/Content/Images/event-large.svg" alt=event icon">

            </div>
            <div class="col-sm-12 col-md-8 mx-auto card shadow p-3 mb-5 bg-white rounded  ">

                    <h3>Community Events</h3>
                <p>
                    Announcements for Special Events such as cooking courses, fruit picking, pop-up food sharing markets will be made on the FoodShare Map.
                    To be sure you don't miss these events please register with us.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-2">
                <img class="mx-auto d-block" src="~/Content/Images/information-large.svg" alt="information icon">

            </div>
            <div class="col-sm-12 col-md-8 mx-auto card shadow p-3 mb-5 bg-white rounded">


                    <h3>Please Get in Touch!</h3>
                <p>
                    For more information or questions regarding our website, please contact: email
                </p>

            </div>
        </div>
 
</section>
