@*@model IEnumerable <FoodShareApp.Models.AdminDashboardModel>*@


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@ViewData["dashModel"]
<h2>Admin Dashboard</h2>

<ul>
    <li>
        <a href="#dashFoodSharers">Food Sharers</a>
    </li>
    <li>
        <a href="#dashFoods">Food Services</a>
    </li>
    <li>
        <a href="">Events</a>
    </li>
</ul>
<section id="dashFoodSharers">
    @Html.Partial("_AdminFoodProviders")
</section>
<section id="dashFoods">
    @Html.Partial("_AdminFoods")
</section>