@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logout" }))
    {
        @Html.AntiForgeryToken()

        <li class="nav-item">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "capitalize nav-link" })
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" aria-selected="false" tabindex="-1">Log Out</a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a href="/account/Register" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
        <a href="/account/Login" class="nav-link">Log In</a>
    </li>
}
