@model IEnumerable<FoodShareApp.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

<div class="row">
    <div class="col-md-6">
        <ul>
            @foreach (var item in @ViewBag.Providers)
            {
                <li><a href="../../FoodProviders/Details/@item.FoodProviderId">@item.Name</a> cancelled a food request</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
            <ul>
                @foreach (var notice in Model)
                {
                    <li>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                        <div>
                            <button class="btn btn-primary" type="submit" name="id" value="@notice.NotificationId"> Remove notice </button>
                        </div>
                        }
                    </li>
                }
            </ul>
        </div>
</div>
